@charset "UTF-8";
:root {
  /* color */
  --mainColor : #0A4424;
  --subColor : #FADFC1;
  --whiteBackgroundColor : #fbfbfb;
  --blackBackgroundColor : #333;
  --basicTextColor : #333;
  --blackBackgroundTextColor : #fbfbfb;
  --lightMintColor : #F1F6F3;

  /* fontSize */
  --normalTextSize : 16px;

  /* font family */
  --basicFont : "Lato"
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}
ul { list-style : none; }
a {text-decoration: none; color: var(--basicTextColor)}
a:link, a:visited { color: #8a8e91; }
a:hover, a:focus { color: #4f4f4f; }
body {
  font-family: var(--basicFont);
  font-size: var(--normalTextSize);
  color: var(--basicTextColor);
  background-color: var(--whiteBackgroundColor);
}
.center {
  width: 1040px;
  margin: 0 auto;
  position: relative;
  /* border: 1px dashed red; */
}
section.content {
  width: 100%;
  height: 100vh;
}
section.content:nth-child(2n) {
  background: linear-gradient(to bottom, var(--lightMintColor) 16%, var(--whiteBackgroundColor) 48%, var(--lightMintColor) 80%);
}
section:not(#main):not(#profile).content {
  /* border: 1px dashed red; */
}
/* 
column
*/
.column {
  width: 180px;
}
.column .top {
  width: 100%;
  height: 48px;
  display: flex;
}
.column .top .column_icon {
  padding: 12px 10px;
}
.column .top .column_title {
  padding: 10px 4px;
}
.column .bottom .content_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  justify-content: start;
}
.column .bottom .content_list .content_item {
  width: 100%;
  padding-left: 24px;
  position: relative;
}
.column .bottom .content_list .content_item:nth-child(2n) {
  color: var(--mainColor)
}
.column .bottom .content_list .content_item:before {
  content :'\25b8';
  position: absolute;
  left: 10px;
  top: 0;
}

/* 
cards
*/
.cards {
  width: 100%;
  border: 1px solid white;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  position: relative;
  background: rgba(255,255,255,0.1);
  perspective: 500px;
	display: flex;
  align-items: end;
  justify-content: start;
  gap: 0 32px;
  border: none;
}
.cards .card {
  /* width: 297px; */
  /* height: 441px; */
  width: 612px;
  height: 704px;
  /* flex: 0 0 200px;
  height: 200px; */
  /* display: inline-flex; */
  /*align-items: center;*/
  /*justify-content: center;*/
  font-weight: 100;
  /* color: var(--basicTextColor); */
  /* box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15); */
  transition: all 0.3s ease;
  transform: scale(0.98);
  will-change: transform;
	position:relative;
	border-radius:15px;
  background-color: var(--whiteBackgroundColor);
  border: 1px solid var(--mainColor);
  flex-shrink: 0;
}
.cards .card.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}
.cards .card.onStage {
  opacity: 1;
  transform: scale(1);
  box-shadow: 2px 2px 4px -2px rgba(0,0,0,0.5);
}
.cards .card.offStage {
  opacity: 0.6;
  transform: scale(0.6);
}
.cards .card .top {
  width: calc(100% - 30px);
  aspect-ratio: 1/1;
  margin: 15px auto 0 auto;
  /* padding: 15px 15px 0 15px; */
  background-color: red;
}
.cards .card .top img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.cards .card .bottom {
  /* background-color: red; */
  padding: 8px 15px;
  /* width: calc(100% - 30px); */
}


/* 
header
*/
header {
  width : 100%;
  height: 180px;
  padding: 0 16px;
  /* background-color: var(--whiteBackgroundColor); */
}
header .top {
  width: 100%;
  height: 60px;
  /* border: 1px dashed green; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header .top .left {
  /* width: 744px; */
  width: 73.809%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
  /* border: 1px dashed blue; */
}
header .top .left .logo {
  height: 100%;
  display: flex;
  align-items: center;
}
header .top .left .logo img {
  display: block;
  width: 128px;
  height: 35px;
}
header .top .left .gnb {
  display: flex;
  height: 100%;
  /* border: 1px dashed red; */
}
header .top .left .gnb .menuItem {
  height: 100%;
  padding: 11px 16px;
  position: relative;
  /* border: 1px dashed green; */
}
header .top .left .gnb .menuItem::after {
  content : "";
  display: none;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 3px solid var(--mainColor);
}
header .top .left .gnb .menuItem:hover::after {
  display: block;
}
header .top .left .gnb .menuItem a {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  color: var(--basicTextColor);
  /* border: 1px dashed blue; */
}
header .top .right {
  width: calc(100% - 73.809%);
  height: 100%;
  /* border: 1px dashed blue; */
}
header .top .right .utility {
  width: 100%;
  height: 100%;
  /* border: 1px dashed green; */
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 32px;
  padding: 10px 0;
  /* border: 1px dashed blue; */
}
header .top .right .utility .utilItem {
  padding: 18px 0;
}
header .top .right .utility .utilItem .utilIcon {
  display: block;
  width: 24px;
  height: 24px;
  transition: all 0.3s;
}
header .top .right .utility .utilItem .utilIcon:hover { opacity: 0.6;}
header .top .right .utility .utilItem .utilIcon.star.sun { background: url(../images/icons/sun.png) no-repeat center/cover; }
header .top .right .utility .utilItem .utilIcon.star.moon { background: url(../images/icons/moon.png) no-repeat center/cover; }
header .top .right .utility .utilItem .utilIcon.menu { background: url(../images/icons/menu.png) no-repeat center/cover; }
header .top .subMenu {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: 450px;
  display: none;
  align-items: center;
  justify-content: start;
  gap: 48px;
  background-color: var(--whiteBackgroundColor);
  box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.5);
}
header .top .subMenu.select {
  display: flex;
}
header .top .subMenu .subMenu_image {
  width: 250px;
  height: 100%;
  background : url(../images/background/subMenu/submenu_image01.png) no-repeat center/cover;
  /* border: 1px dashed blue; */
}
header .top .subMenu .subMenu_list {
  width: 343px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 0;
  /* border: 1px dashed blue; */
}
header .top .subMenu .subMenu_list .submenu_item a {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0 16px;
  align-items: center;
  justify-content: start;
  /* border: 1px dashed green; */
  font-size: 42px;
}
header .top .subMenu .subMenu_list .submenu_item_num {
  color: #DADADA;
}
header .top .subMenu .subMenu_list .submenu_item_txt {
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}
header .top .subMenu .personalInfo_list {
  width: 243px;
  height: 100%;
  /* border: 1px dashed blue; */
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
header .top .subMenu .personalInfo_list .personalInfo_item {
  padding: 6px 0;
  display: flex;
  gap: 8px;
  /* border: 1px dashed green; */
}
header .top .subMenu .personalInfo_list .personalInfo_item_icon img {
  display: inline-block;
  width : 24px;
  height: 24px;
  transform: translate(0, 37.5%);
  /* border: 1px dashed red; */
}
header .bottom {
  width: 100%;
  height: 120px;
  /* border: 1px dashed green; */
}
header .bottom .mainText {
  text-align: center;
  font-size: 84px;
  font-weight: bold;
  font-style: italic;
}
#main .fullAngle {
  width: 100%;
  height: calc(100vh - 180px);
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px dashed blue; */
}
#main .fullAngle img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover;
}


/* 
profile
*/
#profile .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
#profile .container .outline {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#profile .container .outline .story {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0 16px;
  /* flex-grow: 1; */
}
#profile .container .outline .story .title {
  padding : 0 10px;
}
#profile .container .outline .story .title .txt {
  height: 58px;
  line-height: 58px;
  font-size: 44px;
  font-weight: bold;
  /* border: 1px dashed red; */
}
#profile .container .outline .story .content {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 16px;
}
#profile .container .outline .story .content .column {
  flex-grow: 1;
  position: relative;
}
#profile .container .outline .story .content .column .leftText {
  display: inline-block;
  width: 150px;
}
#profile .container .outline .story .content .column .rightText {
  font-size: 12px;
  float: right;
  height: 21px;
  line-height: 21px;
}
#profile .container .pattern {
  width: 30%;
  height: 100%;
}
#profile .container .pattern .frame {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#profile .container .pattern .frame img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover;

}



/* 
skills
*/
#skills {
  background: url(../images/background/skills/lsm_portfolio-1.png) no-repeat center/cover;
}
#skills .container {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#skills .container .head {
  width: 100%;
  text-align: center;
  padding: 32px 16px;
}
#skills .container .head h2 {
  height: 58px;
  line-height: 58px;
  font-size: 44px;
  font-weight: bold;
}
#skills .container .body {
  width: 100%;
  /* height: calc(100vh - 122px); */
  height: 666px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
#skills .body .skills_list {
  /* flex-grow:  1; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px 32px;
}
#skills .body .skills_item {
  width: 29.365%;
  height: 29.968%;
  /* border: 1px dashed blue; */
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 0 16px;
  box-shadow: 2px 2px 4px -2px rgba(0,0,0,0.5);
}
#skills .body .skills_item .left, 
#skills .body .skills_item .right {
  display: flex;
  flex-direction: column;
}
#skills .body .skills_item:nth-child(2n-1) { background-color: var(--whiteBackgroundColor)}
#skills .body .skills_item:nth-child(2n) { background-color: var(--lightMintColor)}
#skills .body .skills_item_icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px dashed blue; */
}
#skills .body .skills_item_icon img {
  display: block;
  width: 46px;
  height: 46px;
}
#skills .body .skills_item_title {
  height: 37px;
  line-height: 37px;
  font-size: 24px;
}
#skills .body .skills_item_content {
  width: 220px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#skills .body .skills_item_content p {
  height: 120px;
  /* font-size: 20px; */
  font-weight: normal;
  flex-grow: 1;
  padding: 0 6px 0 0;
  overflow: hidden;
}
#skills .body .skills_item_content p span {
  display: block;
  padding: 4px 0;
}
#skills .body .skills_item_content .level {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 8px 6px 8px 0;
}
#skills .body .skills_item_content .level img {
  display: block;
  width: 46px;
}



/* 
portfolio
*/
#portfolio .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#portfolio .container .head {
  width: 100%;
  text-align: center;
  padding: 32px 16px;
}
#portfolio .container .body {
  width: 100%;
  /* height: calc(100vh - 122px); */
  height: 666px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}



/* 
contact
*/
#contact .head {
  width: 100%;
  height: 122px;
}
#contact .head h2 {
  text-align: center;
  font-size: 44px;
}
#contact .body {
  width: 100%;
}
#contact .body .container {
  padding: 16px;
}
#contact .body .imagebox .image {
  display: block;
  /* width: 40.77%;
  height: 40.77%; */
  width: 424px;
  height: 424px;
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.5);
  background: url(../images/background/contact/profileImage.jpg) no-repeat 0 30%/cover;
}
#contact .body .imagebox .image p {
  width:100%;
  height:100%;
  /* background: rgba(255,255,255,0.5); */
}
#contact .body .icons {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 36px;
  /* border: 1px dashed red; */
}
#contact .body .contact_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px 0;
}
#contact .body .contact_item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}
#contact .body .contact_item .text {
  display: inline-block;
  width: 167px;
  user-select: text;
}